<h1 classname="bg-blue-500 text-white px-4 py-2">Navbar</h1>
<ul classname="flex space-x-4">
  <li><a href="/" class="text-blue-500">index</a></li>
  <li><a href="/edit" class="text-blue-500">edit</a></li>
</ul>

